node_modules/
01-bash-linux/testdir/
01-bash-linux/health-check.log
*.tar.gz
*.log
.env
.env.test
.DS_Store
__pycache__/
*.pyc
cred.txt
*.pem
*token*
01-bash-linux/test.log
01-bash-linux/cron-output.log
01-bash-linux/config.env
03-project-cicd/vaultwarden-deployment/vw-data/